@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 95%;
    --foreground: 210 29% 25%;
    --card: 0 0% 100%;
    --card-foreground: 210 29% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 25%;
    --primary: 210 29% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 17% 90%;
    --secondary-foreground: 210 29% 25%;
    --muted: 220 17% 90%;
    --muted-foreground: 210 29% 45%;
    --accent: 207 70% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 17% 85%;
    --input: 220 17% 85%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 210 29% 25%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 210 29% 25%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 207 70% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 29% 35%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 29% 30%;
    --sidebar-ring: 207 70% 53%;
  }
  .dark {
    --background: 210 29% 10%;
    --foreground: 0 0% 98%;
    --card: 210 29% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 210 29% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 210 29% 25%;
    --secondary: 210 29% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 29% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 207 70% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 29% 20%;
    --input: 210 29% 20%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 0 0% 98%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 210 29% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 207 70% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 29% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 210 29% 20%;
    --sidebar-ring: 207 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
